body, html {
  height: 100%;
  margin: 0;
}

.container {
  position: relative;
  width: 100%;
  background-color: #f0f0f0; /* Cor de fundo da div principal */
}

.title-h1 {
  margin-bottom: 80px;
}

.walking-image.digo {
  position: absolute;
  width: 200px; /* Ajuste conforme necessário */
  height: auto;
  animation: moveAroundDigo 8s linear infinite;
}

.walking-image.kayo {
  position: absolute;
  width: 120px; /* Ajuste conforme necessário */
  height: auto;
  animation: moveAroundKayo 5s linear infinite;
}

.walking-image.alyson {
  position: absolute;
  width: 130px; /* Ajuste conforme necessário */
  height: auto;
  animation: moveAroundAlyson 8s linear infinite;
}

.walking-image.paulo {
  position: absolute;
  width: 100px; /* Ajuste conforme necessário */
  height: auto;
  animation: moveAroundPaulo 3s linear infinite;
}

@keyframes moveAroundPaulo {
  0% {
    transform: translate(0, calc(-100% * 2 - 20px));
  }
  25% {
    transform: translate(calc(200% * 3), 0);
  }
  50% {
    transform: translate(calc(100% - 50px), calc(100% * 2 - 40px));
  }
  25% {
    transform: translate(calc(200% * 3), 0);
  }
  100% {
    transform: translate(0, calc(-100% * 2 - 20px));
  }
}


@keyframes moveAroundDigo {
  // 0% {
  //   transform: translate(0, calc(-100% * 2 - 20px));
  // }
  // 25% {
  //   transform: translate(calc(200% * 3), 0);
  // }
  // 50% {
  //   transform: translate(calc(100% - 50px), calc(100% * 2 - 40px));
  // }
  // 75% {
  //   transform: translate(calc(-200% * 3), calc(100% - 50px));
  // }
  // 100% {
  //   transform: translate(0, calc(-100% * 2 - 20px));
  // }
  0% {
    transform: translate(0, -80%);
  }
  25% {
    transform: translate(calc(300%), -20%);
  }
  50% {
    transform: translate(0, calc(100%));
  }
  75% {
    transform: translate(-400%, -30%);
  }
  100% {
    transform: translate(0, -80%);
  }
}

@keyframes moveAroundAlyson {
  0% {
    transform: translate(0, calc(100% * 2 - 20px));
  }
  25% {
    transform: translate(calc(-200% * 3), 0);
  }
  50% {
    transform: translate(calc(-100% - 50px), calc(-100% * 2 - 40px));
  }
  75% {
    transform: translate(calc(-200% * 3), calc(-100% - 50px));
  }
  100% {
    transform: translate(0, calc(100% * 2 - 20px));
  }
}

@keyframes moveAroundKayo {
  0% {
    transform: translate(0, calc(-100% * 2 - 20px));
  }
  25% {
    transform: translate(calc(200% * 3), 0);
  }
  50% {
    transform: translate(calc(100% - 50px), calc(100% * 2 - 40px));
  }
  75% {
    transform: translate(calc(-200% * 3), calc(100% - 50px));
  }
  100% {
    transform: translate(0, calc(-100% * 2 - 20px));
  }
}

@keyframes moveRightToLeft {
  0% {
    transform: translateX(100%); /* Inicialmente, fora da tela à direita */
  }
  100% {
    transform: translateX(-100%); /* Finalmente, fora da tela à esquerda */
  }
}

@keyframes moveLeftAndRight {
  0%, 100% {
    transform: translateX(200% * 3); /* Inicialmente e no final, fora da tela à direita */
    transform: translateY(200% * 3); /* Inicialmente e no final, fora da tela à direita */
  }
  50% {
    transform: translateX(-200% * 3); /* No meio, fora da tela à esquerda */
  }
}